.banner_part{
    background: url(../image/image11.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}
.banner_overlay{
    padding: 320px 0px 180px;
}
.banner_content h1{
    padding-bottom: 90px;
    color: #fff;
}
.banner_content p{
    color: #fff;
    padding: 0px 125px 60px;
}
.banner_content a{
    background-color:#2554D7;
}







/* banner_part end */


